swagger: '2.0'
info:
  version: 0.0.1
  title: Meta-ACG Bridge
  description: Metatavu - ACG Pulse dispenser credit bridge
host: acg-bridge.metatavu.io
schemes:
  - https
basePath: /v1
consumes:
  - application/json;charset=utf-8
produces:
  - application/json;charset=utf-8
paths:
  /v1/transactions:
    post:
      operationId: createTransaction
      summary: Creates new transaction
      description: Creates new transaction
      parameters:
        - name: transaction
          in: body
          description: Transaction to be created
          schema:
            $ref: '#/definitions/Transaction'
      tags:
        - Transactions
      responses:
        200:
          description: Created transaction
          schema:
            $ref: '#/definitions/Transaction'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
definitions:
  Transaction:
    description: A single transaction
    type: object
    properties:
      id:
        type: string
        description: Unique identifier for the transaction
      machineId:
        type: string
        description: Unique identifier for a machine that initiated the transaction
      properties:
        type: array
        items:
          $ref: '#/definitions/TransactionProperty'
  TransactionProperty:
    description: A key - value pair describing a transaction property 
    type: object
    properties:
      key:
        type: string
        description: Key
      value:
        type: string
        description: Value
  InternalServerError:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  Forbidden:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  BadRequest:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  NotImplemented:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  NotFound:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
