{
  "swagger" : "2.0",
  "info" : {
    "description" : "Metatavu - ACG Pulse dispenser credit bridge",
    "version" : "0.0.1",
    "title" : "Meta-ACG Bridge"
  },
  "host" : "acg-bridge.metatavu.io",
  "basePath" : "/v1",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json;charset=utf-8" ],
  "produces" : [ "application/json;charset=utf-8" ],
  "paths" : {
    "/v1/transactions" : {
      "post" : {
        "tags" : [ "Transactions" ],
        "summary" : "Creates new transaction",
        "description" : "Creates new transaction",
        "operationId" : "createTransaction",
        "parameters" : [ {
          "in" : "body",
          "name" : "transaction",
          "description" : "Transaction to be created",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Created transaction",
            "schema" : {
              "$ref" : "#/definitions/Transaction"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Transaction" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Unique identifier for the transaction"
        },
        "machineId" : {
          "type" : "string",
          "description" : "Unique identifier for a machine that initiated the transaction"
        },
        "properties" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/TransactionProperty"
          }
        }
      },
      "description" : "A single transaction"
    },
    "TransactionProperty" : {
      "type" : "object",
      "properties" : {
        "key" : {
          "type" : "string",
          "description" : "Key"
        },
        "value" : {
          "type" : "string",
          "description" : "Value"
        }
      },
      "description" : "A key - value pair describing a transaction property"
    },
    "InternalServerError" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "integer",
          "format" : "int32"
        },
        "message" : {
          "type" : "string"
        }
      }
    },
    "Forbidden" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "integer",
          "format" : "int32"
        },
        "message" : {
          "type" : "string"
        }
      }
    },
    "BadRequest" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "integer",
          "format" : "int32"
        },
        "message" : {
          "type" : "string"
        }
      }
    },
    "NotImplemented" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "integer",
          "format" : "int32"
        },
        "message" : {
          "type" : "string"
        }
      }
    },
    "NotFound" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "integer",
          "format" : "int32"
        },
        "message" : {
          "type" : "string"
        }
      }
    }
  }
}